html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body  {
    font-family: "Montserrat", sans-serif;
    background-color: #FAFAFA;
    margin: 0 auto;
    max-width: 1100px;
}

.all {
    margin: 40px 20px 60px 20px;
}

.content {
    margin: 40px 20px 60px 20px;
}

h1,
h2,
p {
    text-align: center;
}

h1 {
    margin: 40px 0;
    font-size: 28px;
}

h1::after {
    content: '';
    display: block;
    margin-top: 10px;
    margin-inline: auto;
    width: 60px;
    height: 2px;
    background: #407BFF; 
    }

h2 {
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: 16px;
}

p {
   margin: 0;
   color: #8B8B8B;
   font-weight: 300;
}

.info {
   margin-bottom: 30px;
}

.travel-img {
    display: block;
    margin: auto;
    margin-top: 60px;
}

.button1,
.button2 {
    height: 40px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
}

.button1 {
    background-color: #407BFF;
    width: 195px;
    margin-bottom: 10px;
}

.button2 {
   background-color: #8B8B8B;
    width: 220px;
}

.map,
.cactus,
.plane,
.palm,
.umbrella,
.rv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 15px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow:  0px 4px 6px #407BFF1F;
}

.map-icon,
.cactus-icon,
.plane-icon,
.palm-icon,
.umbrella-icon,
.rv-icon {
    padding-right: 30px;
    padding-left: 20px;
    height: 40px;
}

.map-text,
.cactus-text,
.plane-text,
.palm-text,
.umbrella-text,
.rv-text {
    padding-right: 20px;
    font-size: 13px;
}

.info {
    font-size: 16px;
   }

@media screen and (min-width: 640px) {
h2 {
margin-top: 80px 
    }
 .buttons {
display: flex;
justify-content: center; 
    }
 .button1 {
margin-bottom: 0;  
    }
.button1,
.button2 {
    text-align: center;
    margin: 0 10px;
    }
 .info {
margin-left: 90px;
margin-right: 90px;    
    }
 .planning,
 .on-place {
    display: flex;
    gap: 20px;
    }
.map,
.cactus,
.plane,
.palm,
.umbrella,
.rv {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: calc(100%/3);
    height: 172px;
}
.map-icon,
.cactus-icon,
.plane-icon,
.palm-icon,
.umbrella-icon,
.rv-icon {
    margin-top: 40px;
    padding: 0;
}
.map-text,
.cactus-text,
.plane-text,
.palm-text,
.umbrella-text,
.rv-text {
    padding: 20px 15px;
}
}

@media screen and (min-width: 1100px) {
.sekce1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.sekce2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 80px;
}
.sekce3 {
    display: flex;
}
p,
h2 {
    text-align: left;
}
h2 {
margin-top: 60px 
}  
.button1,
.button2 {
    text-align: center;
    margin: 0 10px;
}

.button1 {
    margin-left: 0;
}
.info {
    margin-left: 0;
    margin-right: 0;
}
.help {
    margin-left: 60px;
}
.trip {
    margin-right: 60px;
}
.map-text,
.cactus-text,
.plane-text,
.palm-text,
.umbrella-text,
.rv-text {
    text-align: center;
}

.map,
.cactus,
.plane,
.palm,
.umbrella,
.rv {
  height: 190px;
}

.travel-img {
   margin-left: 95px;
   width: 425px;
}

h1::after {
   margin: 0;
   margin-top: 10px;
    }
}
